.header-color {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avatar-img {
  display: inline-block;
  height: 250px;
  height: 250px;
  padding-top: 5em;
  background-position: 50%;
  border-radius:40% 40% 20% 20%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h2 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text ul {
  list-style-type: none;
  color: white;
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
  margin: 3px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  
  /* padding: .2em; */
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}

.banner-items {
  color: white;
  font-size: 20px;
  padding-top: 5px;
  margin-top: 4px;
  margin: 0;
  /* padding: .2em; */
}

.banner-text h2 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.user-contacts p {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.user-contacts p {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.user-contacts li {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}